---
import Logo from "@/components/core/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
const { footer } = menu;
const {
  copyright,
  location,
  email,
  phone_sales,
  phone_office,
  footer_description,
} = config.params;

const has_social = Object.entries(social).some(
  ([key, value]) => key != "title" && value
);
---

<footer class="footer border-t border-border bg-primary shadow-md text-white">
  <div class="container">
    <div class="gx-5 row flex justify-center pb-10 pt-[15px]">
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <img src="/images/logo.png" class="w-52" />
        <p class="mt-6">
          {footer_description}
        </p>
        <p class="mt-6" set:html={markdownify(copyright)} />
      </div>
      <!-- {
        has_social && (
          <>
            <div class="col-12 mt-12 md:col-6 lg:col-3">
              <h6>{social.title ?? "Social"}</h6>
              <Social source={social} className="social-icons mt-4 lg:mt-6" />
            </div>
            <div class="col-12 mt-12 md:col-6 lg:col-3">
              <h6>Quick Links</h6>
              <ul>
                {footer.map((item, i) => (
                  <li class={footer.length - 1 === i ? "mb-0" : "mb-4"}>
                    <a
                      class="hover:text-laccent hover:underline "
                      href={item.url}
                    >
                      {item.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          </>
        )
      } -->
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h5 class="mb-3">Quick Links:</h5>
        <ul>
          {
            footer.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-2"}>
                <a
                  class="text-white hover:text-accent hover:underline "
                  href={item.url}
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h5 class="mb-3">Contact:</h5>
        <ul>
          <li class="mb-2">{location}</li>
          <li class="mb-2">
            <a
              class="mb-2 text-accent hover:text-accent"
              href={`mailto:${email}`}
            >
              {email}
            </a>
          </li>
          <li>
            Sales:
            <a
              class="text-accent hover:text-accent hover:underline"
              href={`tel:${phone_sales}`}
            >
              {phone_sales}
            </a>
          </li>
          <li>
            Office:
            <a
              class="text-accent hover:text-accent hover:underline"
              href={`tel:${phone_office}`}
            >
              {phone_office}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
