---
import PageHeader from "@/components/core/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("contact", "index");
const { contact_form_action, location, email, phone_sales, phone_office } =
  config.params;
---

<Base entry_keys={["contact", "index"]}>
  <section class="pb-6 pt-16">
    <div class="container"><PageHeader page_data={entry.data} /></div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row justify-center">
        <div class="flex flex-col max-w-5xl md:flex-row gap-20 justify-center">
          <div class="w-full md:w-1/2 mx-5">
            <ul>
              <li class="mb-3">
                <h5>Reach out to us!</h5>
              </li>
              <li class="mb-2">
                Email:
                <a
                  class="mb-2 text-accent hover:text-accent hover:underline"
                  href={`mailto:${email}`}
                >
                  {email}
                </a>
              </li>
              <li>
                Sales:
                <a
                  class="text-accent hover:text-accent hover:underline"
                  href={`tel:${phone_sales}`}
                >
                  {phone_sales}
                </a>
              </li>
              <li>
                Office:
                <a
                  class="text-accent hover:text-accent hover:underline"
                  href={`tel:${phone_office}`}
                >
                  {phone_office}
                </a>
                <li class="mt-2">
                  Address: <br />
                  <a
                    class="text-accent hover:text-accent hover:underline"
                    target="_blank"
                    href="https://maps.app.goo.gl/JELpzFdk7WfcEB3U9"
                    >533 Airport Blvd, Suite 400 <br />Burlingame, CA 94010
                  </a>
                </li>
              </li>
            </ul>
          </div>
          <form
            class="lg:max-w-[500px] w-full md:w-1/2"
            action={contact_form_action}
            method="POST"
          >
            <div class="form-group mb-5">
              <label class="form-label" for="name">Name</label>
              <input
                class="form-control"
                type="text"
                id="name"
                placeholder="Name"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="email">Email</label>
              <input
                class="form-control"
                type="text"
                id="email"
                placeholder="Email"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="reason">Reason/Purpose</label>
              <select name="reason" id="reason" class="form-select">
                <option value="">Request Quote</option>
                <option value="hello">Become a Partner</option>
                <option value="work-with-you">Job Inquiry</option>
                <option value="work-for-me">Other</option>
              </select>
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="message">Message</label>
              <textarea
                class="form-control h-[150px]"
                id="message"
                cols="30"
                rows="10"></textarea>
            </div>
            <input
              class="btn bg-accent max-w-xs mx-auto flex text-white text-lg shadow-md hover:bg-laccent dark:border-white/10 dark:border"
              type="submit"
              value="Send Message"
              onclick="alert('This form is not functional. Please use the email address provided in the footer to contact me.')"
            />
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
